In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
import pickle
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder

In [2]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [3]:
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [4]:
## Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France       0  ...               1        101348.88       1
1             608     Spain       0  ...               1        112542.58       0
2             502    France       0  ...               0        113931.57       1
3             699    France       0  ...               0         93826.63       0
4             850     Spain       0  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France       1  ...               0         96270.64       0
9996          516    France       1  ...               1        101699.77       0
9997          709    France       0  ...               1         42085.58       1
9998          772   Germany       1  ...               0         92888.52       1
9999          792    France       0  ...               0         38190.78       0

[10000 rows x 11 columns]

In [6]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()
geo_encoded = ohe.fit_transform(data[['Geography']]).toarray()
geo_encoded_df=pd.DataFrame(geo_encoded,columns=ohe.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [7]:
## combine the encoded features with the original data
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [8]:
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

## Scale the features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [10]:
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

### ANN Regression Problem Statement

In [12]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout

In [14]:
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)
])

model.compile(optimizer='adam', loss='mean_absolute_error', metrics=['mae'])

model.summary()

WARNING:tensorflow:From c:\Users\pkgam\Desktop\DL-Project\venv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 64)                832

 dense_4 (Dense)             (None, 32)                2080

 dense_5 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [15]:
## train the model
history = model.fit(
    X_train,y_train,
    epochs=100,
    batch_size=32,
)

Epoch 1/100
WARNING:tensorflow:From c:\Users\pkgam\Desktop\DL-Project\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\pkgam\Desktop\DL-Project\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 3s 3ms/step - loss: 100374.2031 - mae: 100374.2031
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 99562.0234 - mae: 99562.0234
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 96716.1953 - mae: 96716.1953
Epoch 4/100
250/250 [==============================] - 1s 2ms/step - loss: 91137.6250 - mae: 91137.6250
Epoch 5/100
250/250 [==============================] - 1s 3ms/step - loss: 83082.9531 - mae: 83082.9531
Epoch 6/100
250/250 [==============================] - 1s 3ms/step - loss: 73788.3750 - mae: 73788.3750
Epoch 7/100
250/250 [==============================] - 1s 2ms/step - loss: 64907.0312 - mae: 64907.0312
Epoch 8/100
250/250 [==============================] - 1s 2ms/step - loss: 58055.6211 - mae: 58055.6211
Epoch 9/100
250/250 [==============================] - 1s 2ms/step - loss: 53787.1445 - mae: 53787.1445
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 51584.9648 - mae: 51584.9648
Epoch 11/100
250/250 [==============================] - 1s 2ms/step - loss: 50762.0312 - mae: 50762.0312
Epoch 12/100
250/250 [==============================] - 1s 2ms/step - loss: 50444.0391 - mae: 50444.0391
Epoch 13/100
250/250 [==============================] - 1s 2ms/step - loss: 50297.1445 - mae: 50297.1445
Epoch 14/100
250/250 [==============================] - 1s 4ms/step - loss: 50217.9297 - mae: 50217.9297
Epoch 15/100
250/250 [==============================] - 1s 3ms/step - loss: 50157.0195 - mae: 50157.0195
Epoch 16/100
250/250 [==============================] - 1s 4ms/step - loss: 50108.8516 - mae: 50108.8516
Epoch 17/100
250/250 [==============================] - 1s 3ms/step - loss: 50060.1016 - mae: 50060.1016
Epoch 18/100
250/250 [==============================] - 1s 2ms/step - loss: 50026.2734 - mae: 50026.2734
Epoch 19/100
250/250 [==============================] - 1s 2ms/step - loss: 49990.9492 - mae: 49990.9492
Epoch 20/100
250/250 [==============================] - 1s 2ms/step - loss: 49964.3398 - mae: 49964.3398
Epoch 21/100
250/250 [==============================] - 1s 2ms/step - loss: 49935.0273 - mae: 49935.0273
Epoch 22/100
250/250 [==============================] - 1s 3ms/step - loss: 49909.3477 - mae: 49909.3477
Epoch 23/100
250/250 [==============================] - 1s 3ms/step - loss: 49881.6250 - mae: 49881.6250
Epoch 24/100
250/250 [==============================] - 1s 3ms/step - loss: 49860.4453 - mae: 49860.4453
Epoch 25/100
250/250 [==============================] - 1s 5ms/step - loss: 49842.0195 - mae: 49842.0195
Epoch 26/100
250/250 [==============================] - 1s 3ms/step - loss: 49818.7930 - mae: 49818.7930
Epoch 27/100
250/250 [==============================] - 1s 2ms/step - loss: 49799.9453 - mae: 49799.9453
Epoch 28/100
250/250 [==============================] - 1s 4ms/step - loss: 49780.3320 - mae: 49780.3320
Epoch 29/100
250/250 [==============================] - 1s 3ms/step - loss: 49763.7461 - mae: 49763.7461
Epoch 30/100
250/250 [==============================] - 1s 3ms/step - loss: 49749.4609 - mae: 49749.4609
Epoch 31/100
250/250 [==============================] - 1s 4ms/step - loss: 49732.5742 - mae: 49732.5742
Epoch 32/100
250/250 [==============================] - 2s 9ms/step - loss: 49719.3164 - mae: 49719.3164
Epoch 33/100
250/250 [==============================] - 1s 4ms/step - loss: 49702.7695 - mae: 49702.7695
Epoch 34/100
250/250 [==============================] - 1s 3ms/step - loss: 49687.5938 - mae: 49687.5938
Epoch 35/100
250/250 [==============================] - 1s 4ms/step - loss: 49677.3906 - mae: 49677.3906
Epoch 36/100
250/250 [==============================] - 1s 3ms/step - loss: 49660.9258 - mae: 49660.9258
Epoch 37/100
250/250 [==============================] - 1s 3ms/step - loss: 49653.0898 - mae: 49653.0898
Epoch 38/100
250/250 [==============================] - 1s 3ms/step - loss: 49645.5742 - mae: 49645.5742
Epoch 39/100
250/250 [==============================] - 1s 4ms/step - loss: 49633.4727 - mae: 49633.4727
Epoch 40/100
250/250 [==============================] - 2s 6ms/step - loss: 49619.9102 - mae: 49619.9102
Epoch 41/100
250/250 [==============================] - 1s 4ms/step - loss: 49610.5117 - mae: 49610.5117
Epoch 42/100
250/250 [==============================] - 1s 3ms/step - loss: 49601.7539 - mae: 49601.7539
Epoch 43/100
250/250 [==============================] - 1s 3ms/step - loss: 49591.5781 - mae: 49591.5781
Epoch 44/100
250/250 [==============================] - 1s 3ms/step - loss: 49583.8984 - mae: 49583.8984
Epoch 45/100
250/250 [==============================] - 1s 4ms/step - loss: 49573.8672 - mae: 49573.8672
Epoch 46/100
250/250 [==============================] - 1s 3ms/step - loss: 49563.8789 - mae: 49563.8789
Epoch 47/100
250/250 [==============================] - 1s 4ms/step - loss: 49557.8516 - mae: 49557.8516
Epoch 48/100
250/250 [==============================] - 1s 3ms/step - loss: 49550.6289 - mae: 49550.6289
Epoch 49/100
250/250 [==============================] - 1s 3ms/step - loss: 49542.3906 - mae: 49542.3906
Epoch 50/100
250/250 [==============================] - 1s 3ms/step - loss: 49535.0117 - mae: 49535.0117
Epoch 51/100
250/250 [==============================] - 1s 3ms/step - loss: 49526.7188 - mae: 49526.7188
Epoch 52/100
250/250 [==============================] - 1s 4ms/step - loss: 49520.0117 - mae: 49520.0117
Epoch 53/100
250/250 [==============================] - 1s 3ms/step - loss: 49513.1094 - mae: 49513.1094
Epoch 54/100
250/250 [==============================] - 1s 3ms/step - loss: 49506.4570 - mae: 49506.4570
Epoch 55/100
250/250 [==============================] - 1s 3ms/step - loss: 49498.4961 - mae: 49498.4961
Epoch 56/100
250/250 [==============================] - 1s 2ms/step - loss: 49493.1914 - mae: 49493.1914
Epoch 57/100
250/250 [==============================] - 1s 3ms/step - loss: 49486.8555 - mae: 49486.8555
Epoch 58/100
250/250 [==============================] - 1s 3ms/step - loss: 49481.3203 - mae: 49481.3203
Epoch 59/100
250/250 [==============================] - 1s 3ms/step - loss: 49479.4414 - mae: 49479.4414
Epoch 60/100
250/250 [==============================] - 1s 3ms/step - loss: 49469.6953 - mae: 49469.6953
Epoch 61/100
250/250 [==============================] - 1s 3ms/step - loss: 49462.5859 - mae: 49462.5859
Epoch 62/100
250/250 [==============================] - 1s 4ms/step - loss: 49460.7070 - mae: 49460.7070
Epoch 63/100
250/250 [==============================] - 1s 3ms/step - loss: 49451.0547 - mae: 49451.0547
Epoch 64/100
250/250 [==============================] - 1s 6ms/step - loss: 49449.1484 - mae: 49449.1484
Epoch 65/100
250/250 [==============================] - 2s 8ms/step - loss: 49442.4883 - mae: 49442.4883
Epoch 66/100
250/250 [==============================] - 1s 5ms/step - loss: 49434.0078 - mae: 49434.0078
Epoch 67/100
250/250 [==============================] - 1s 5ms/step - loss: 49432.9688 - mae: 49432.9688
Epoch 68/100
250/250 [==============================] - 2s 7ms/step - loss: 49423.2422 - mae: 49423.2422
Epoch 69/100
250/250 [==============================] - 2s 6ms/step - loss: 49419.0703 - mae: 49419.0703
Epoch 70/100
250/250 [==============================] - 2s 7ms/step - loss: 49415.6680 - mae: 49415.6680
Epoch 71/100
250/250 [==============================] - 2s 8ms/step - loss: 49411.5977 - mae: 49411.5977
Epoch 72/100
250/250 [==============================] - 1s 6ms/step - loss: 49406.4961 - mae: 49406.4961
Epoch 73/100
250/250 [==============================] - 1s 5ms/step - loss: 49402.5547 - mae: 49402.5547
Epoch 74/100
250/250 [==============================] - 2s 6ms/step - loss: 49396.0000 - mae: 49396.0000
Epoch 75/100
250/250 [==============================] - 1s 5ms/step - loss: 49392.9805 - mae: 49392.9805
Epoch 76/100
250/250 [==============================] - 1s 5ms/step - loss: 49389.0430 - mae: 49389.0430
Epoch 77/100
250/250 [==============================] - 1s 6ms/step - loss: 49386.3242 - mae: 49386.3242
Epoch 78/100
250/250 [==============================] - 1s 4ms/step - loss: 49378.3477 - mae: 49378.3477
Epoch 79/100
250/250 [==============================] - 2s 8ms/step - loss: 49376.7383 - mae: 49376.7383
Epoch 80/100
250/250 [==============================] - 1s 5ms/step - loss: 49372.6133 - mae: 49372.6133
Epoch 81/100
250/250 [==============================] - 1s 4ms/step - loss: 49367.4453 - mae: 49367.4453
Epoch 82/100
250/250 [==============================] - 2s 9ms/step - loss: 49365.7031 - mae: 49365.7031
Epoch 83/100
250/250 [==============================] - 2s 9ms/step - loss: 49357.2070 - mae: 49357.2070
Epoch 84/100
250/250 [==============================] - 2s 7ms/step - loss: 49359.2383 - mae: 49359.2383
Epoch 85/100
250/250 [==============================] - 2s 7ms/step - loss: 49348.5938 - mae: 49348.5938
Epoch 86/100
250/250 [==============================] - 2s 7ms/step - loss: 49349.1367 - mae: 49349.1367
Epoch 87/100
250/250 [==============================] - 2s 8ms/step - loss: 49347.3828 - mae: 49347.3828
Epoch 88/100
250/250 [==============================] - 1s 5ms/step - loss: 49342.3906 - mae: 49342.3906
Epoch 89/100
250/250 [==============================] - 1s 5ms/step - loss: 49336.6367 - mae: 49336.6367
Epoch 90/100
250/250 [==============================] - 1s 5ms/step - loss: 49334.8945 - mae: 49334.8945
Epoch 91/100
250/250 [==============================] - 1s 4ms/step - loss: 49329.9648 - mae: 49329.9648
Epoch 92/100
250/250 [==============================] - 1s 4ms/step - loss: 49328.8711 - mae: 49328.8711
Epoch 93/100
250/250 [==============================] - 1s 4ms/step - loss: 49324.3008 - mae: 49324.3008
Epoch 94/100
250/250 [==============================] - 1s 4ms/step - loss: 49320.2734 - mae: 49320.2734
Epoch 95/100
250/250 [==============================] - 1s 3ms/step - loss: 49319.6133 - mae: 49319.6133
Epoch 96/100
250/250 [==============================] - 1s 3ms/step - loss: 49315.0273 - mae: 49315.0273
Epoch 97/100
250/250 [==============================] - 1s 4ms/step - loss: 49314.9844 - mae: 49314.9844
Epoch 98/100
250/250 [==============================] - 1s 4ms/step - loss: 49310.9062 - mae: 49310.9062
Epoch 99/100
250/250 [==============================] - 1s 4ms/step - loss: 49307.9023 - mae: 49307.9023
Epoch 100/100
250/250 [==============================] - 1s 3ms/step - loss: 49306.6094 - mae: 49306.6094

In [16]:
test_loss , test_mae = model.evaluate(X_test, y_test)
print(f'Test mae:{test_mae}')

63/63 [==============================] - 1s 4ms/step - loss: 50316.9766 - mae: 50316.9766
Test mae:50316.9765625